/*Define el tipo de letra para todo el documento*/
*{
  font-family: 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
}

/*Define el estilo del mensaje promocional de inicios*/
.inicio {
  font-weight: bold;
  text-align: center;
  padding: 20px;
  font-size: 35px;
}

/*Define el estilo del título de la empresa*/
.inicio-header {
  color: white;
  background-color: rgb(7, 0, 135);
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Define el para todo el cuerpo de la página*/
body {
  margin: 0px;
}

/*Define el estilo de todas las etiquetas p*/
p {
  color: black;
  margin: 0px;
}

/*Define el estilo de todas las etiquetas h2*/
h2 {
  color: white;
  font-size: 50px;
  margin: 0px;
}

/*Define el estilo del menú de navegación*/
nav {
  min-height: 40px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Permite cambiar el estilo del menú y de la etiqueta a cuando el cursor está encima*/
nav:hover, a:hover {
  color: red;
  transition: 0.4s;
}

/*Define el estilo de la etiqueta a*/
a {
  color: white;
  text-decoration: none;
}

/*Permite cambiar el estilo de la etiqueta a cuando el cursor está encima*/
a:hover {
  transform: scale(1.2);
}

/*Define el estilo de cada una de las cajas de los productos, el texto y las imágenes*/
.objeto-card {
  width: 200px;
  min-height: 250px;
  padding: 20px;
  border: 3px;;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.202);
  background-color: #f9f9f9;
}
.descripcion {
  margin-bottom: 10px;
  color: black;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/*Define el estilo del carrusel, el comportamiento y detalles*/
.Carrusel-caja {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  overflow-x: scroll; /* Permite el desplazamiento horizontal */
  scroll-snap-type: x mandatory;
}
.Carrusel-caja img {
  height: 400px;
  width: 100%;
  flex: 0 0 100%; /* Cada imagen ocupa el 100% del contenedor */
  object-fit: cover; /* Mantiene la proporción de la imagen y la llena */
  scroll-snap-align: center;
  animation: infinite slide 20s alternate ease-in-out;
} 

@keyframes slide {
  0% { margin-left: 0; }
  20% { margin-left: 0; }
  25% { margin-left: -100%; }
  45% { margin-left: -100%; }
  70% { margin-left: -100%; }
  75% { margin-left: -100%; }
  85% { margin-left: -100%; }
  100% { margin-left: -100%; }
}