/*Define el tipo de letra para todo el documento*/
*, button{
  font-family: 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
}
/*Define el estilo del mensaje promocional de inicios*/
.inicio {
  font-weight: bold;
  text-align: center;
  padding: 20px;
  font-size: 35px;
}
.inicio-seccion h2  {
  color: black;
  text-align: center;
}
/*Define el estilo del título de la empresa*/
.inicio-header {
  color: white;
  background-color: rgb(7, 0, 135);
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*Define el para todo el cuerpo de la página*/
body {
  margin: 0px;
}
/*Define el estilo de todas las etiquetas p*/
p {
  color: black;
  margin: 0px;
}
/*Define el estilo de todas las etiquetas h2*/
h2 {
  color: white;
  font-size: 50px;
  margin: 0px;
}

h4 {
  color: rgb(0, 0, 0);
  font-size: 50px;
  margin: 0px;
}



/*Define el estilo del menú de navegación*/
.MenuNav {
  min-height: 40px;
  background-color: rgb(7, 0, 135);
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*Permite cambiar el estilo del menú y de la etiqueta a cuando el cursor está encima*/
.MenuNav:hover {
  color: white;
  transition: 0.4s;
  text-decoration: none;
}
.RutaPagina {
  color: white;
  transition: 0.4s;
  text-decoration: none;
}
/*Define el estilo de la etiqueta a*/
.RutaPagina:hover {
  color: red;
}
/*Permite cambiar el estilo de la etiqueta a cuando el cursor está encima*/
.RutaPagina:hover:hover {
  transform: scale(1.2);
}


/*Diseño del DIV de productos*/
.div-productos {
  margin: 20px;
}
/*Define el estilo de cada una de las cajas de los productos, el texto y las imágenes*/
.objeto-card {
  width: 200px;
  min-height: 250px;
  padding: 20px;
  border: 3px;;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.202);
  background-color: #f9f9f9;
}
.objeto-card:hover {
  background-color: rgb(145, 121, 121);
  transition: 0.4s;
}
.descripcion {
  margin-bottom: 10px;
  color: black;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}




/*Diseño para el carrusel*/
.CarruselMarcas {
  width: 100%;
  height: 400px; 
  margin: 0 auto;
  overflow-x: scroll;
  /* **CLAVE 2: Define el comportamiento de Anclaje** */
  /* x = en el eje horizontal | mandatory = forzar el anclaje */
  scroll-snap-type: x mandatory; 
}
/*Oculta las barras de deslizamiento*/
.CarruselMarcas::-webkit-scrollbar {
  display: none; /*Chrome, Safari, Edge*/
}
.CarruselMarcas1 {
  display: flex; 
  height: 100%;
  /*Permite que el ancho crezca según el número de ítems*/
  width: max-content; 
}
.CarruselMarcas2 {
  /*CLAVE 3: Cada ítem ocupa el 100% del ancho de la vista** */
  min-width: 100vw; 
  height: 100%;
  /*Punto de Anclaje** (Centra la imagen en el borde de la vista) */
  scroll-snap-align: start;
  /* Centra la imagen dentro del div */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: auto-slide 15s infinite ease; 
}
.CarruselMarcas2 img {
  width: 100%;
  min-height: 400px;
  display: block;
  /* Asegura que la imagen cubra el área sin distorsionarse */
  object-fit: cover; 
}
@keyframes auto-slide {
  0%, 30%   { transform: translateX(0vw); }
  
  33%{ transform: translateX(-100vw); }
  35%, 65%  { transform: translateX(-100vw); }
    
  68%{ transform: translateX(-200vw); }
  70%, 97%{ transform: translateX(-200vw); }
    
  100%{ transform: translateX(0vw); }
}

/*Diseños secciones de inicio*/
.SeccionSuscripcion {
  padding: 10px;
  background-color: rgb(7, 0, 135);
  color: white;
  text-align: center;
  height: 400px;
}
.BotonSuscripcion {
  background-color: crimson;
  padding: 3px 30px 3px 30px;
  width: auto;
  height: auto;
  border-color: crimson;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.BotonSuscripcion p{
  color: white;
  font-size: 25px;
}
.BotonSuscripcion:hover {
  background-color: white;
  border-color: white;
  transition: 0.5s ease;
}
.BotonSuscripcion p:hover{
  color: crimson;
}
button {
  background-color: rgb(73, 119, 247);
  width: 200px;
  height: 30px;
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  padding-bottom: 30px;
}
button:hover {
  background-color: crimson;
  border-color: crimson;
  transition: 1s;
}
button p:hover{
  color: white;
}

/*Diseño del pie de página*/
footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px, 0px, 10px, 0px;
}
footer p{
  color: white;
  font-size: 12px;
}

/* Diseño Principal del carrito*/
.carrito-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 50vh;
  background-color: white;
  padding: 40px 0;
}


/* Diseño Del titulo del carrito*/
.carrito-header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px 0;
  font-size: 1.8rem;
  font-weight: bold;
}

/* Diseño Simbolo Carrito*/
.carrito-header i {
  margin-right: 10px;
}

/* Diseño Texto Carrito*/
.carrito-texto {
  color: crimson;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Diseño contenedor Carrito*/
.carrito-contenedor {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 80%;
  max-width: 800px;
  text-align: center;
}

/* Diseño Texto  Carrito Vacio*/
.carrito-vacio {
  color: #333;
  font-style: italic;
  margin: 20px 0;
}

/* Diseño Boton Carrito*/
.boton-pagar {
  background-color: #0d6efd;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
/* Diseño Simbolo del boton Carrito*/
.boton-pagar i {
  margin-right: 8px;
}

.boton-pagar:hover {
  background-color: #0047c1;
  transform: scale(1.05);
}