body {
  margin: 0px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
}

.inicio {
  text-align: center;
  padding: 20px;
  font-size: 35px;
}

.inicio-header {
  color: white;
  background-color: rgb(0, 101, 147);
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p{
  color: black;
  margin: 0px;
}

h2{
  color: white;
  font-size: 50px;
  margin: 0px;
}

nav{
  min-height: 40px;
  background-color: white;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  background-color: rgb(4, 34, 79);
}

nav:hover, a:hover {
  color: red;
  transition: 0.4s;
}

a{
  color: white;
  text-decoration: none;
}

a:hover {
  transform: scale(1.2);
}

.objeto-card {
  width: 350px;
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.objeto-card h3 {
  margin-top: 0;
  color: black;
}

.campo {
  margin-bottom: 10px;
}

.campo span {
  font-weight: bold;
  color: #555;
}

.campo p {
  margin: 0;
  display: inline; /* Mantiene el texto en la misma línea que la etiqueta */
}